.footer {
    background-color: #343a40; /* Dark background */
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
  }
  
  .footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  